<nav class="navbar">
  <ul class="nav-list">
    <li>
      <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        Home
      </a>
    </li>

    <!-- shown only when NOT logged in -->
    <li *ngIf="!auth.isLoggedIn">
      <a routerLink="/register" routerLinkActive="active">
        Sign Up
      </a>
    </li>
    <li *ngIf="!auth.isLoggedIn">
      <a routerLink="/login" routerLinkActive="active">
        Log In
      </a>
    </li>

    <!-- shown only when logged in -->
    <li *ngIf="auth.isLoggedIn">
      <a routerLink="/users" routerLinkActive="active">
        Users
      </a>
    </li>
    <li *ngIf="auth.isLoggedIn">
      <button (click)="logout()">Log Out</button>
    </li>
    <li *ngIf="auth.isLoggedIn">
      <a routerLink="/courses" routerLinkActive="active">
        Courses
      </a>
    </li>
        <li *ngIf="auth.isLoggedIn">
      <a routerLink="/profile" routerLinkActive="active">
        Profile
      </a>
    </li>
  </ul>
</nav>