<!-- src/app/navbar/navbar.component.html -->
<nav class="navbar">
  <div class="navbar-brand">
    <a routerLink="/" class="brand">Coursey</a>
  </div>
  <ul class="nav-list">
    <!-- Public -->
    <li *ngIf="!auth.isLoggedIn">
      <a routerLink="/register" routerLinkActive="active">Sign Up</a>
    </li>
    <li *ngIf="!auth.isLoggedIn">
      <a routerLink="/login" routerLinkActive="active">Log In</a>
    </li>

    <!-- Private -->
    <li *ngIf="auth.isLoggedIn">
      <a routerLink="/home" routerLinkActive="active">Home</a>
    </li>
    <li *ngIf="auth.isLoggedIn">
      <a routerLink="/users" routerLinkActive="active">Users</a>
    </li>
    <li *ngIf="auth.isLoggedIn">
      <a routerLink="/courses" routerLinkActive="active">Courses</a>
    </li>
    <li *ngIf="auth.isLoggedIn">
      <a routerLink="/activity-logs" routerLinkActive="active">Activity Logs</a>
    </li>
    <li *ngIf="auth.isLoggedIn">
      <a routerLink="/profile" routerLinkActive="active">Profile</a>
    </li>
    <li *ngIf="auth.isLoggedIn">
      <button (click)="logout()">Log Out</button>
    </li>
  </ul>
</nav>
